@import "tailwindcss";

@theme {
  /* Palette */
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: rgba(200, 162, 200, 0.15);
  --color-neutral-300: #E3E3E3;
  --color-neutral-400: #F5F5F5;
  --color-neutral-500: #CCC;
  --color-neutral-600: #8E8E93;
  --color-neutral-700: #3C3836;
  --color-neutral-800: #191015;
  --color-neutral-900: #000000;

  --color-primary-100: #4537B3;
  --color-primary-200: #6650E5;
  --color-primary-300: #8769FB;
  --color-primary-400: #D28468;
  --color-primary-500: #C76542;
  --color-primary-600: #A54F31;

  --color-secondary-100: #DCDDE9;
  --color-secondary-200: #BCC0D6;
  --color-secondary-300: #C8A2C8;
  --color-secondary-400: #626894;
  --color-secondary-500: #41476E;

  --color-accent-100: #C8A2C8;
  --color-accent-200: #FF3B30;
  --color-accent-300: #FDD495;
  --color-accent-400: #FBC878;
  --color-accent-500: #FF9500;

  --color-angry-100: #F2D6CD;
  --color-angry-500: #C03403;

  --color-success-100: #D1FAE5;
  --color-success-400: #34D399;
  --color-success-500: #10B981;

  --color-disabled: #5F5489;

  --color-overlay-20: rgba(25, 16, 21, 0.2);
  --color-overlay-50: rgba(25, 16, 21, 0.5);

  /* Semantic Colors */
  --color-text: var(--color-neutral-800);
  --color-text-inverse: var(--color-neutral-100);
  --color-text-dim: var(--color-neutral-600);
  --color-background: var(--color-neutral-100);
  --color-border: var(--color-neutral-400);
  --color-tint: var(--color-primary-500);
  --color-tint-inactive: var(--color-neutral-300);
  --color-separator: var(--color-neutral-300);
  --color-error: var(--color-angry-500);
  --color-error-background: var(--color-angry-100);
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500);
    border-radius: 20px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-neutral-600);
  }
}
